<h2>Content!!</h2>

<form action="/something" method="post">
  {{> _partial}}
  <input type="text" name="foo" value="bar"/>
  <input type="text" name="counter" value="{{ i }}"/>
  <input type="submit" />
</form>

<a href="/something">Reload?</a>
